{{ partial "header.html" . }}
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script></head>

{{ .Content }}

{{if .Site.Params.backlinks }}
{{ $re := $.File.BaseFileName }}
{{ $backlinks := slice }}
{{ range .Site.AllPages }}
   {{ if and (findRE $re .RawContent) (not (eq $re .File.BaseFileName)) }}
      {{ $backlinks = $backlinks | append . }}
   {{ end }}
{{ end }}

 <textarea id="data" style="display:none">
digraph {
  node [shape=circle fontsize=16]
edge [length=2, color=gray, fontcolor=black]
"{{ $.Page.Permalink }}" [label="{{ substr $.Page.Title 0 30 }}",color="#74B559"];
{{ range $backlinks }}
"{{ .Permalink }}" [label="{{ substr .Title 0 30 }}"];
"{{ .Permalink }}" -> "{{ $.Page.Permalink }}";
{{ end }}
}
</textarea>

{{ if gt (len $backlinks) 0 }}
  <div class="bl-section">
    <h4>Links to this note</h4>
    <div id="contents">
    <div class="backlinks flex-item-right" >
      <ul>
       {{ range $backlinks }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
       {{ end }}
     </ul>
    </div>
    <div id="mynetwork"></div>
    </div>
    </div>
{{ end }}
    <script type="text/javascript">
      var container = document.getElementById("mynetwork");
      var options = {
          nodes: {
              shape: "dot",
              scaling: {
                  label: {
                      min:8,
                      max:20
                  },
              },},
          edges: {
              smooth: true,
          },
          interaction: {hover: true},
          layout: {improvedLayout: true},
          "physics": {
              "barnesHut": {
                  // "gravitationalConstant": -6350,
                  // "centralGravity": 2.95,
                  // "springLength": 325,
                  "avoidOverlap": 0.9,
                  "damping": 0.3
              },
              "minVelocity": 1.00,
          }
          
      };

      var parsedData = vis.parseDOTNetwork($("#data").val());
      for (var i = 0 ; i < parsedData.nodes.length ; i++) {
          parsedData.nodes[i].shape = "dot";
      }
      var data = { nodes: parsedData.nodes, edges: parsedData.edges};
      var network = new vis.Network(container, data,options);
      network.on("doubleClick",function(params){
          if(params.nodes[0]){
              console.log(params.nodes)
              window.location.href =params.nodes[0];
          }
      });
      
    </script>

    <style type="text/css" >
      #contents {
          position:relative;
      }
      #left,#right {
          margin: 0;
          padding: 10px;
          box-sizing: border-box;
          display: inline-block;
      }
      #right {
          width: 60%;
          height: 100%;
          top: 0;
          right: 0;
      }
      #left {
          width: 40%;
          height: 80%;
          top: 0;
          left: 0;
      }
#mynetwork {
  margin: 0px;
  padding: 0px;
}

#mynetwork {
  /* position: fixed; */
    margin: auto;
    width: 100%;
  right: 0px;
    height: 400px;
  /* left: 60%; */
  /* top: 80%; */
  /* bottom: 0px; */
  /* right: 50%; */
  /* min-height: 20vh; */
  /* border-right: 1px solid lightgray; */
  background: lightgrey;

}

@media (max-width: 1200px) {
#mynetwork {
  /* position: fixed; */
    width: 100%;
    height: 400px;
  right: 0px;
  /* left: 60%; */
  /* top: 80%; */
  /* bottom: 0px; */
  /* right: 50%; */
  /* min-height: 20vh; */
  /* border-right: 1px solid lightgray; */
  background: lightgrey;

}
}


/* Responsive layout - makes a one column layout instead of a two-column layout */

    </style>
{{ end }}

<footer class="footline">
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	{{end}}
	{{if .Site.Params.FileLocations }}
	    <br><i>Found an error? You can <a href="{{ .Site.Params.FileLocations }}{{ if .Site.Params.fileExt}}{{ .File.TranslationBaseName }}.{{ .Site.Params.fileExt }}{{else}}{{.File.LogicalName}}{{end}}">edit this page</a></i>
	{{end}}
	    </div>
</footer>


{{ partial "footer.html" . }}
